.formulaire {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .body{
    margin-top: 10%;
}
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form {
    margin-bottom: 30px;
    
  }
  
  .username__field,
  .password__field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .button {
    text-align: center;
  }
  
  .button button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button button:hover {
    background-color: #0056b3;
  }
  
  .navig {
    text-align: center;
  }
  
  .navig h3 {
    margin-top: 20px;
  }
  
  .navig h3 a {
    color: #007bff;
    text-decoration: none;
  }
  
  .navig h3 a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 600px) {
    .formulaire {
      padding: 15px;
    }
  
    .title {
      margin-bottom: 20px;
    }
  
    input[type="text"],
    input[type="password"] {
      padding: 12px;
    }
  
    .button button {
      padding: 12px 24px;
      font-size: 16px;
    }
  }
  