.section__logo{
    text-align: center;
    margin-top: 80px;
}

.logo{
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
.title{
    font-family: cursive;
    letter-spacing: 3px;
}

.section__button{
    text-align: center;
    
}
.section__button button{
    width: 130px;
    border-radius: 8px;
    height: 40px;
    border: none;
    background-color: rgb(37, 102, 255);
    color: aliceblue;
}
.inscription__button{
    margin-right: 1.5%;
    
    
}
.connection__button{
    margin-left: 1.5%;
}
.navlink {
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}

.navlink:hover {
    color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
}