/* Style pour le conteneur principal */
div {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le titre */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style pour le bouton d'ajout de vente */
  button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style pour le tableau */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Style pour les en-têtes de colonnes */
  th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  /* Style pour les cellules */
  td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Style pour les lignes impaires du tableau */
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  